# True or False to enable/disable debug mode
DEBUG_MODE=""

# Ko-fi verification token
KOFI_VERIFICATION_TOKEN=""

# your MongoDB database url
MONGODB_URL=""

# fernet encryption key, generate with:
# python -c 'from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())'
ENC_KEY=""

# jwt key, generate with:
# python -c 'import secrets; print(secrets.token_urlsafe(64))'
JWT_KEY=""

# powerdns api key
PDNS_API_KEY=""

# put a url to your powerdns api here
# format: http://<ip>:<port> - no trailing slash or path
PDNS_DOMAIN=""

# put an ipinfo api key here
IPINFO_KEY=""

# put a sentry dsn url here for backend error logging
SENTRY_DSN=""

# paste a discord webhook url here to send alerts to
DC_WEBHOOK=""

# put a cloudflare turnstile secret key here
TURNSTILE_KEY=""

# put a resend api key here
RESEND_KEY=""
